<div class='expense-card'>

  <%= image_tag expense.icon, alt: expense.name %>
  
  <div class='expense-detail'>
   <div class='expense-detail-top'>
     <p><%= expense.name %></p>
     <p>$1500</p>
  </div>

  <div class='expense-detail-bottom'>
    <p><%= expense.created_at.strftime('%d %B %Y') %></p>
    <%= link_to "Show this expense", expense %>
   </div>
  </div>

</div>
