<%= button_to( "Log Out",destroy_user_session_path, method: :delete) %> 

  <div class="expense-card">
   <%# <% if user_signed_in? %> %>

   <div class='expense-heading'>
    <h1>Expenses</h1>
   </div>
   
    <% @expenses.each do |expense| %>
      <%= render expense %>
    <% end %>

   <%= link_to "Add New expense", new_expense_path, class:'expenses-footer' %>

   <%# <% else %> %>
    
    <%= button_to "Sign in", new_user_session_path %>  
   <%# <% end %> %>
  </div>
