<div class="expense-card">
  

   <div class='expense-heading'>
   <%= button_to( "Log Out",destroy_user_session_path, method: :delete) %> 
    <h1>EXPENSES</h1>
   </div>
   
    <% @expenses.each do |expense| %>
      <%= render expense %>
    <% end %>

   <%= link_to "ADD NEW EXPENSE", new_expense_path, class:'expenses-footer' %> 
  
  </div>
